# .github/workflows/ci.yml
name: CI

on:
  push:
    branches:
      - main        # run on pushes to main
      - "**"        # and on pushes to all other branches
  pull_request:
    branches:
      - main        # run on PRs that target main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: Build and Test
        run: sbt test